[submodule "zsh/plugins/zsh-autosuggestions"]
	path = zsh/plugins/zsh-autosuggestions
	url = ssh://git@github.com/zsh-users/zsh-autosuggestions.git
[submodule "dotbot"]
	path = dotbot
	url = ssh://git@github.com/anishathalye/dotbot.git
[submodule "zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/plugins/zsh-syntax-highlighting
	url = ssh://git@github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zinit"]
	path = zinit
	url = https://github.com/zdharma-continuum/zinit.git
[submodule "zsh/themes/powerlevel10k"]
	path = zsh/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
